/* * ,  
*::before, 
*::after {
 box-sizing: border-box;
} */

:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --hamburger-foreground: #ff6cb8;
    --hamburger-background: #ffffff;
    --hamburger-marginTop: 16px;
    --hamburger-marginLeft: 1.5rem;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2 );


}

/* fonts */
    @font-face {
        font-family: 'MotionPicture';
        src: url('../fonts/MotionPicture.ttf') format('TrueType');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'ARLRDBD';
        src: url('../fonts/ARLRDBD.TTF') format('TrueType');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Impact';
        src: url('../fonts/impact.ttf') format('TrueType');
        font-weight: normal;
        font-style: normal;
    }
/* body */
    body {
        position: relative;
        margin: 0;
        padding: 0;
    }

/* Navbar */

    nav {
        font-family: 'ARLRDBD', Arial, sans-serif;
        background-color: #ffffff;
        overflow: hidden;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15); /* First shadow */
        border-radius: 0rem 0rem 2.5rem 2.5rem;
    }

    nav .listOfNav1 {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-left: 30px;
        overflow: hidden;
    }
    .navbarlogo {
        width: auto;
        height: 50px;
        float: right;
        padding: 10px;
        padding-right: 40px;
    }
    nav .listOfNav1 li {
        float: left;
        padding-top: 10px;
        margin-right: 10px;
    }

    nav .listOfNav1 li a {
        display: block;
        color: #ff6cb8;
        text-align: center;
        padding: 16px 14px;
        text-decoration: none;
        transition: color ease-out 500ms; /* transition property */
        transition: background-color ease-out 500ms;
        border-radius: 2rem;
        opacity: 1;
    }

    nav .listOfNav1 li a:hover {
        background-color: #ff6cb8;
        color: white;
    }
    .hamburger-menu{
        --x-width: calc(var(--hamburger-height) * 1.41421356237);
        display: none;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        top: var(--hamburger-marginTop);
        left: var(--hamburger-marginLeft);
        position: absolute;
        z-index: 3;
        }
    .hamburger-menu:has(input:checked) {
        --hamburger-foreground: #ffffff;
        --hamburger-background: #ff6cb8;
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input{
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--hamburger-foreground);
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity var(--animation-timing),
        width var(--animation-timing),
        rotate var(--animation-timing),
        translate var(--animation-timing),
        background-color var(--animation-timing);
        
    }
    .hamburger-menu input{
      appearance: none;
      margin: 0;
      padding: 0;
      outline: none;
      pointer-events: none;
    }
    .hamburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height)/-2);

    }
    .hamburger-menu:has(input:checked)::after{
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height)/2);
    }
    .hamburger-menu input:checked{
       opacity: 0;
       width: 0;
      }

    .sidebar {
        display: none;
        position: absolute;
        transition: translate var(--animation-timing);
        translate: -100%;
        background-color: var(--hamburger-foreground);
        color: var(--hamburger-background);
        top: 0px;
        width: 65%;
        height: 100vh;
        z-index: 2;
        border-radius: 0rem 2.5rem 2.5rem 0rem;
    }

    .hamburger-menu:has(input:checked) + .sidebar {
        translate: 0;
    }

    
    .listOfNav2 {
        font-family: 'ARLRDBD', Arial, sans-serif;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        gap: 10px;
    }
    .listOfNav2 li a {
        display: block;
        color: #ffffff;
        margin: 0 auto;
        text-align: center;
        padding: 16px 14px;
        text-decoration: none;
        transition: color ease-out 500ms; /* transition property */
        transition: background-color ease-out 500ms;
        border-radius: 2rem;
        max-width: 50%;
        opacity: 1;
    }

    .listOfNav2 li a:hover {
        background-color: #ffffff;
        color: #ff6cb8;
    }


/* Slider */

    /* slider containers */
        .slider-container{
            position: relative;
        }
        
        .slider-wrapper {
            flex: 1;
            max-width: 95%;
            margin: 0 auto;
            z-index: -1;
        }
        .slider{
            display: flex;
            aspect-ratio: 32/9;
            overflow-x: hidden;
            scroll-snap-type: x mandatory;
            box-shadow: 0 1.5rem 3rem -.75rem hsla(0,0%, 0%, 0.25);
            border-radius: 0rem 0rem 2.5rem 2.5rem;

        }
        .slider img {
            flex: 1 0 100%;
            scroll-snap-align: start;
            object-fit: cover;
        }
        .slider-nav{
            position: relative;
            display: flex;
            column-gap: 1.5rem;
            bottom: 2.5rem;
            justify-content: center;
            z-index: 1;
        }
        .slider-nav a{
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color: #ffffff;
            opacity: .75;
            transition: opacity ease 250ms;

        }
        .slider-nav a:hover {
            opacity: 1;
        }
    /* slider texts containers */
        .slider-text-container{
            position: relative;
            font-family: 'ARLRDBD', Arial, sans-serif;
            padding: 2rem;
            flex-direction: row;
            justify-content: center; /* Center the text elements vertically */
        }
        /*
        .slider-text {
        }
        */
        .slider-text h2 {
            letter-spacing: -1px;
            font-size: 50px;
            margin: 0;
            color: #e80097;
            text-align: center;

        }

        .slider-text p {
            font-size: 25px;
            margin: 0;
            color: #4a6971;
            padding-top: 5px;
            text-align: center;
        }
/* photo with text main */
    .photoText-wrappermain {
        max-width: 95%;
        margin: 0 auto;
        height: auto;
    }

/* photo with text */
    .photoText-container {
        display: flex;
        margin: 0 auto;
        margin-left: 0;
        width: 1000px;
        padding: 2.5rem;
        justify-content: center;
        align-items: center;
        box-shadow: 0rem 0rem 2.5rem .25rem hsla(0,0%, 0%, 0.25);
        border-radius: 1.5rem;
        }   
    .photoText-container .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: 'ARLRDBD', Arial, sans-serif;
        font-size: 3rem;
        margin-left: 1rem;
        color: #e80097;
        }
/* photo with text2 */
    .photoText-container2 {
        display: flex;
        margin: 0 auto;
        margin-right: 0;
        margin-top: 2.5rem;
        width: 1000px;
        padding: 2.5rem;
        justify-content: center;
        align-items: center;
        box-shadow: 0rem 0rem 2.5rem .25rem hsla(0,0%, 0%, 0.25);
        border-radius: 1.5rem;
        }   
    .photoText-container2 img {
        width: 418px;

        }  
    .photoText-container2 .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: 'ARLRDBD', Arial, sans-serif;
        font-size: 3rem;
        margin-right: 1rem;
        color: #e80097;
        }
/* photo with text3 */
    .photoText-container3 {
        display: flex;
        margin: 0 auto;
        margin-left: 0;
        margin-top: 2.5rem;
        width: 1000px;
        padding: 2.5rem;
        justify-content: center;
        align-items: center;
        box-shadow: 0rem 0rem 2.5rem .25rem hsla(0,0%, 0%, 0.25);
        border-radius: 1.5rem;
        }   
    .photoText-container3 img {
        width: 418px;

        }  
    .photoText-container3 .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: 'ARLRDBD', Arial, sans-serif;
        font-size: 3rem;
        margin-left: 1rem;
        color: #e80097;
        }
/* photo with text4 */
    .photoText-container4 {
        display: flex;
        margin: 0 auto;
        margin-right: 0;
        margin-top: 2.5rem;
        width: 1000px;
        padding: 2.5rem;
        justify-content: center;
        align-items: center;
        box-shadow: 0rem 0rem 2.5rem .25rem hsla(0,0%, 0%, 0.25);
        border-radius: 1.5rem;
        }   
    .photoText-container4 img {
        width: 418px;

        }  
    .photoText-container4 .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: 'ARLRDBD', Arial, sans-serif;
        font-size: 3rem;
        margin-right: 1rem;
        color: #e80097;
        }

/* footer */

    footer {
        font-family: 'ARLRDBD', Arial, sans-serif;
        background-color: #ffffff;
        border-radius: 2.5rem 2.5rem 0rem 0rem;
        box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.15); /* First shadow */
        color: #ff6cb8;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        margin-top: 5rem;

    }
    
    /* footer de eerste elementen */
        .footer_elements {
        display: flex;
        font-size: 1.2rem;
        justify-content: center;
        }
        /* footer LOGO */
            footer .footer_logoContainer {
                display: flex;
                margin-left: 1.5rem;
                align-items: center;
                width: 128px;
            }
            footer .footer_logo {
                width: auto;
                height: 3rem;  
            }   
        /* footer pagina's */
            footer ul {
                list-style-type: none;
                display: flex;
                margin: 0 auto;
                padding: 0;
                gap: 1rem;
                align-items: center;
            }
            footer li {
                margin: 0;
                padding: 0;
            }
            footer li a{
                text-decoration: none;
                color: #ff6cb8;
            }
    
    /* footer social */
        footer .social-media {
            display: flex;
            margin-right: 1.5rem;
            justify-content: space-between;
            gap: 1rem;
        }
        
        footer .social-media a {
            display: flex;
            margin: 0;
            align-items: center;
        }
        
        footer .social-media img {
            width: 32px;
            height: 32px;
        }
    /* footer copyright text */
        footer .copyright {
            display: flex;
            justify-content: center;
            font-size: 1rem;
        }

/* For screens between 480px and 768px */
    @media (max-width: 1250px) {
        nav {
            border-radius: 0;
        }
        .slider {
            border-radius: 0;
        }
        .slider-nav {
            display: none;
        }    
    }
/* For screens smaller than 1090px */
@media (max-width: 1090px) {
    .photoText-wrappermain img {
        max-width: 80%;
    } 
    .photoText-wrappermain p {
        max-width: 80%;
    }
    .photoText-container,
    .photoText-container2,
    .photoText-container3,
    .photoText-container4 {
        flex-direction: column;
        max-width: 100%;
        padding: 0;
        } 
    .photoText-container {
     padding-top: 2.5rem;   
    }  
 
    .photoText-container2 {
     padding-bottom: 2.5rem;   
    }  
    .photoText-container3 {
        padding-top: 2.5rem;   
       }  
    .photoText-container4 {
     padding-bottom: 2.5rem;   
    }  
    .photoText-container .text{
        margin-left: 0;
        }
}
    
/* For screens larger than 768px */
    @media (max-width: 768px) {
    /* body */
    body {
        position: relative;
        margin: 0;
        padding: 0;
    }
    
    .hamburger-menu,.hamburger-menu::after,.hamburger-menu::before {
        display: flex;
    }
    .sidebar{
        display: inherit;
    }
    .listOfNav1 {
        display: none;
    }
    .listOfNav2 {
        display: flex;
        padding: 0;
        flex-direction: column;
        padding-top: 3.5rem;
        
    } 
    .listOfNav2 ul li {
       max-width: max-content;
       margin: 0 auto;

    }
    /* footer */

    footer {
        padding-top: 2rem;
        padding-bottom: 1.5rem;
        margin-top: 5rem;

    }
    
    /* footer de eerste elementen */
        .footer_elements {
        flex-direction: column;
        font-size: 1.2rem;
        justify-content: center;
        }
        /* footer LOGO */
            footer .footer_logoContainer {
                margin: 0 auto;
                max-width: 80%;
                margin-bottom: 2rem;
                width: fit-content;
            }   
        /* footer pagina's */
            footer ul {
                margin: 0 auto;
                max-width: 80%;
                flex-direction: column;
                gap: 1rem;
                align-items: center;
                margin-bottom: 2rem;
            }
    
    /* footer social */
        footer .social-media {
            margin: 0 auto;
            max-width: 80%;
            gap: 1rem;
            padding: 0;
        }
        
        footer .social-media a {
            margin: 0 auto;
            align-items: center;
        }
        
        footer .social-media img {
            width: 32px;
            height: 32px;
        }
    /* footer copyright text */
        footer .copyright {
            margin: 0 auto;
            max-width: 80%;
            font-size: 1.25rem;
            margin-top: 1.5rem;
        }

    }

       