   root {
  /* --photoText-Allwrappers */
  --photoText-wrapper-margin: 0 auto;
  --photoText-wrapper-maxWidth: 75%;
  --photoText-wrapper-marginRight: 0;
  --photoText-wrapper-marginTop: 2.5rem;

  /* --photoText-Allcontainer */
  --photoText-display: flex;
  --photoText-margin: 0 auto;
  --photoText-padding: 2.5rem;
  --photoText-justifyContent: center;
  --photoText-alignItems: center;
  --photoText-aspectRatio: 72/29;
  --photoText-borderRadius: 2.5rem;
  --photoText-boxShadow: 0rem 0rem 2.5rem .25rem hsla(0,0%, 0%, 0.25);
   
  /* photoText Alltext */
   --photoText-text-display: flex;
   --photoText-text-flexDirection: column;
   --photoText-text-alignItems: center;
   --photoText-text-textAlign: center;
   --photoText-text-fontFamily: 'ARLRDBD', Arial, sans-serif;
   --photoText-text-fontSize: 3rem;
   --photoText-text-marginLeft: 1rem;
   --photoText-text-marginRight: 1rem;
   --photoText-text-color: #e80097;
      
  /* photoText-Allimg */
  --photoText-img-width: auto;
  --photoText-img-height: 100%;

       
        } 